{
    "presets": [
      ["es2015", { "modules": false }],
      "es2017",
      "react",
      "stage-0"
    ],
    "plugins": [
      ["import", { "libraryName": "antd-mobile", "libraryDirectory": "es", "style": "css" }],
      "transform-object-rest-spread",
      "transform-class-properties",
      "react-hot-loader/babel"
    ]
  }
