.container {
    color: #646464;
    font-size: 13px;
    font-weight: 200;
    .content-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #dcb277;
        padding: 6px 8px 6px 8px;
        border-bottom: 1px solid rgba(100, 100, 100, 0.7);
        .title {
            font-size: 18px;
        }
    }
    .container-wrapper {
        padding: 18px 15px 18px 15px;
        .introduce {
            margin-bottom: 10px;
            line-height: 18px;
        }
        .titles {
            font-size: 15px;
            color: #fff;
            margin: 16px 0 17px 0;
        }
        .content {
            line-height: 18px;
            margin-bottom: 5px;
        }
        .duan {
            margin: 5px 0 5px 0;
        }
    }
}