.download-page {
    font-weight: 400;
    .download-middleContent {
        margin-top: 99px;
        display: flex;
        justify-content: center;
        .download-phone {
            width: 225px;
            height: 277px;
        }
        .download-logo {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 228px;
            width: 154px;
            height: 53px;
        }
        .download-tips {
            position: absolute;
            right: 6px;
            top: 2px;
            width: 180px;
            height: 76px;
        }
    }
    .download-info {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 14px;
        color: #787878;
        margin-bottom: 30px;
        .download-version {
            margin-top: 14px;
        }
        .update-time {
            margin-top: 14px;
        }
    }
    .download-btn {
        width: 135px;
        height: 40px;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        margin: 0 auto;
        background: linear-gradient(to bottom, #fedf97, #cea366);
        font-size: 18px;
        color: #000;
    }
    .download-btn-disabled {
        width: 135px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        margin: 0 auto;
        background: linear-gradient(to bottom, #fedf97, #cea366);
        font-size: 18px;
    }
    .download-tutorial {
        text-align: center;
        margin-top: 26px;
        color: #dcb276;
        font-size: 14px;
        .icon-anzhuo,
        .icon-pingguo {
            color: #dcb276;
            width: 13px;
            height: 15px;
            margin-right: 7px;
        }
    }
}