.myInvite-bg {
    min-height: 100vh;
    background-color: #f5f5f5;
    font-weight: 300;
}

.myInvite-header {
    background-color: #000;
}

.myInvite-title {
    background: #dcb276;
    font-weight: 200;
}

.myInvite-content {
    background: #fff;
    padding: 20px 50px 20px 50px;
    font-size: 15px;
    box-sizing: border-box;
}

.myInvite-friend-content {
    display: flex;
    height: 115px;
    background: #fff;
    padding: 17px 20px 18px 20px;
    font-size: 15px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.invite-friend {
    margin-top: 10px;
}

.myInvite-title img {
    width: 25px;
    height: 22px;
}

.myInvite-content-code img {
    width: 85px;
    height: 85px;
}

.myInvite-content-code canvas{
    width: 86px !important;
    height: 86px !important;
}

.myInvite-url {
    line-height: 18px;
    color: #969696;
    word-break: break-all;
    user-select: text;
}

.myInvite-btn-copy {
    width: 84px;
    height: 30px;
    border-radius: 3pt;
    background: #fff;
    font-size: 15px;
    color: #dab272;
    border: 1px solid #dab272;
    margin-top: 20px;
    &:active{
        background-color: #f5f5f5;
    }
}

.myInvite-url-btn .button:active {
    background: rgba(0, 0, 0, 0);
}

.myInvite-url-btn .am-button:before {
    border: 1px solid #dab272 !important;
}

.myInvite-content-items {
    display: flex;
    padding: 20px;
    flex: 1;
    font-size: 18px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.myInvite-item {
    border-radius: 4px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    overflow: hidden;
    height: 45px;
    width: 158px;
    margin-bottom: 15px;
    display: inline-block;
    display: flex; // justify-content: center;
    align-items: center; // margin-right: 18px;
}

.myInvite-item:last-child {
    margin-bottom: 0;
}

.myInvite-item-T {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #dcb276;
}

.myInvite-item-num {
    width: 113px;
    height: 45px;
    line-height: 45px;
    text-align: center;
}

.myInvite-content-introduce {
    background: #fff;
    padding: 23px 20px 37px 20px;
    font-size: 15px;
}

.myInvite-content-introduce-detail-item {
    margin-top: 20px;
}