.myInvite-bg {
  background-color: #f5f5f5;
  font-weight: 300;
  .myInvite-header {
    background-color: #000;
  }
  .inviteCard-wrapper {
    .inviteCard {
      margin: 20px;
      border-radius: 4px;
      background-color: #fff;
      padding-bottom: 30px;
      .inviteCard-title {
        background-color: #D2D2D2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 13px 16px;
        font-size: 15px;
        color: #fff;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        .inviteCard-title-icon {
          width: 22px;
          height: 18px;
        }
        .inviteCard-title-rule {
          font-size: 14px;
          color: #fff;
          &:active {
           color: #e4dfdf;
          }
        }
      }
      .invite-link {
        font-size: 15px;
        color: #969696;
        margin: 26px 0 24px;
        user-select: text;
        min-height: 34px;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        word-break: break-all;
      }
      .invite-btns {
        display: flex;
        justify-content: center;
        .copy-link, .my-poster {
          padding: 9px 30px;
          border-radius: 3px;
          font-size: 14px;
        }
        .copy-link {
          margin-right: 40px;
          color: #DCB277;
          border: 1px solid #DCB277;
          &:active {
            background-color: #DCB277;
            color: #fff;
          }
        }
        .my-poster {
          background-color: #DCB277;
          color: #fff;
          &:active {
            background-color: #f1c587;
          }
        }
      }
      .invite-score {
        color: #DCB277;
        font-size: 24px;
        min-height: 24px;
        margin: 46px 0 10px;
        font-weight: 400;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        word-break: break-all;
      }
      .invite-score-rule {
        color: #969696;
        font-size: 12px;
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }
}
