.myWallet-bg {
	min-height: 100vh;
	background-color: #f5f5f5;
	font-weight: 300;
}

.myWallet-header {
	background-color: #000;
}

.myWallet-title {
	background: #dcb276 !important;
	font-weight: 200;
}

.switch-list .am-list-body::before {
	height: 0 !important;
}

.switch-item {
	background: #fff !important;
}

.switch-item .am-list-content {
	font-size: 13px !important;
	color: #000 !important;
	padding-top: 8px !important;
	padding-left: 10px;
}

.first-item-line {
	border-bottom: 0 !important;
}

.switch-list .am-list-item .am-list-line .am-list-extra {
	padding-right: 4px;
	flex-basis: 25%;
}

.item-line img {
	width: 20px;
	height: 20px;
	margin-right: 14px;
	margin-left: 4px;
}

.item-line-G2F {
	width: 30px;
	height: 26px;
	margin-right: 8px;
}

.last-item {
	border-bottom: 0 !important;
}

.am-modal-content {
	background: rgba(0, 0, 0, 0);
}

.am-modal-button-group-v .am-modal-button:before {
	height: 0px !important;
}
