.doubleConfirm-middleContent {
    flex-direction: column;
    .middleContent-img-logo {
        // margin: 70px 63px 0 63px;
        .middleContent-logo {
            width: 190px;
            height: 65px;
        }
    }
}

.midText-doubleConfirm-transfrom {
    margin-top: 43px;
    margin-bottom: 45px;
}

.buttons-doubleConfirm-transform {
    margin-top: 30px;
}