// .doubleConfirm-middleContent {
//     flex-direction: column;
// }
// .doubleConfirm-middleContent {
//     margin: auto 30px;
// }

.midText-doubleConfirm-transfrom {
    margin-top: 43px;
    margin-bottom: 45px;
}

.buttons-doubleConfirm-transform {
    margin-top: 30px;
}