$black: #000;
$golden: #DCB276;
.gradient {
    background: linear-gradient(to bottom, #FEDF97, #CEA366);
}

// $orange: #DCB276;
$gray: #969696;
.button-active:active {
    background: #dab075;
}

.fz18 {
    font-size: 18PX;
}

.font-active:active {
    color: #eac287;
}

.fz15 {
    font-size: 15PX;
}

.fz12 {
    font-size: 12PX;
}

// .fz15{
//   font-size: 15px;
// }
.fz30 {
    font-size: 30px;
}

.my-drawer .am-drawer-sidebar .am-list {
    width: 240px;
}

.am-list-item {
    padding-left: 16px;
}

.am-list-item img {
    width: 15px;
    height: 23px;
}