.confirmEmail-middleContent {
    flex-direction: column;
    margin: 0 30px 0 30px;
    .middleContent-img-logo {
        margin: 70px 63px 0 63px;
        .middleContent-logo {
            width: 190px;
            height: 65px;
        }
    }
}

.midText-confirmEmail-transfrom {
    margin-top: 64px;
    margin-bottom: 10px;
}

.validate-confirmEmail-transfrom {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 32px;
    margin-bottom: 34px;
}

.buttons-confirmEmail-transfrom {
    margin-top: 0;
}

.bottomTips-confirmEmail-transfrom {
    margin-top: 40px;
}