.registerEmail-middleContent {
    flex-direction: column;
    margin: 0 30px 0 30px;
    .middleContent-img-logo {
        margin: 70px 63px 0 63px;
        .middleContent-logo {
            width: 190px;
            height: 65px;
        }
    }
}

.midText-registerEmail-transfrom {
    margin-top: 64px;
    margin-bottom: 10px;
}

.ServerTips-registerEmail-transfrom {
    margin-bottom: 17px;
    margin-top: 17px;
}

.Buttons-registerEmail-transfrom {
    margin-top: 0;
}

.bottomTips-registerEmail-transfrom {
    margin-top: 78px
}