@import '../../../styles/base';
.header {
    // position: fixed;
    // top: 0;
    // left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px 0 11px;
    height: 58px;
    border-bottom: 1px solid #646464;
    .header-left {
        width: 60px;
        height: 20px;
        display: flex;
        align-items: center;
        .header-topone {
            width: 60px;
            height: 20px;
        }
    }
    .header-right {
        display: flex;
        align-items: center;
        font-weight: 100;
        justify-content: space-between;
        width: 125px;
        @extend .fz15;
        .header-login {
            color: #fff;
        }
        .header-register {
            color: #fff;
        }
        .active {
            color: #dcb276;
        }
        .header-menus {
            width: 18px;
            height: 18px;
            display: flex;
            align-items: center;
            .header-menu {
                width: 18px;
                height: 18px;
            }
            .icon-shouhui {
                font-size: 22px;
            }
        }
    }
}