@import '../../styles/base';
.login-middleContent {
    flex-direction: column;
    margin: 0 30px 0 30px;
    .middleContent-img-logo {
        margin-top: 70px;
        text-align: center;
        .middleContent-logo {
            width: 190px;
            height: 65px;
        }
    }
}

.midText-transform {
    margin-top: 50px;
    margin-bottom: 41px;
}

// .login-button {
//     width: 316px;
//     height: 40px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border-radius: 2px;
//     margin: 0 auto;
//     color: $black;
//     @extend .button-active;
//     @extend .fz18;
//     @extend .gradient;
// }
.yidun_intelli-control {
    background: #dcb276 !important;
    border: 1px solid #dcb276 !important;
    width: 100% !important;
    height: 40px !important;
    display: flex !important;
    margin-top: 30px !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 2px !important; // height: 30px;
    // line-height: 30px;
    font-size: 18px !important;
    background: linear-gradient(to bottom, #fedf97, #cea366) !important;
}

.yidun_intelli-tips {
    color: #000 !important;
    font-weight: 200 !important;
}

.yidun_intelli-text {
    color: #000 !important;
    font-weight: 200 !important;
}

.yidun_tips__text {
    color: #000 !important;
    font-weight: 200 !important;
}

.bottomTips-transform {
    margin-top: 78px;
}