@import '../../styles/base';
.index-middleContent {
    flex-direction: column;
    margin: 0;
    .middleContent-img-logo {
        margin: 70px 63px 0 63px;
        .middleContent-logo {
            width: 190px;
            height: 65px;
        }
    }
}

.body-no-scroll {
    overflow: hidden;
    height: 100%;
}